[client]
#password = your_password
port = 3306
socket = {{ mysql_57.socket }}

[mysqld]
port = 3306
bind-address = "0.0.0.0"
datadir = /var/lib/mysql
socket = {{ mysql_57.socket }}
pid-file = {{ mysql_57.pid_file }}
skip-name-resolve

# Character encoding congiguration
skip-character-set-client-handshake
character-set-server = utf8

# Slow query log configuration.
slow_query_log = 1
slow_query_log_file = {{ mysql_57.slow_query_log_file }}
long_query_time = 2

# Replication
server-id = {{ mysql_server_id }}

# Crash safe replication
relay_log_info_repository = TABLE
relay_log_recovery = ON

{% if mysql_replication_role == 'master' %}
#
# MASTER
#
log_bin = mysql-bin
log-bin-index = mysql-bin.index
expire_logs_days = {{ mysql_expire_logs_days }}
max_binlog_size = {{ mysql_max_binlog_size }}
binlog_format = {{mysql_binlog_format}}

# group commit
binlog_group_commit_sync_delay = 3000
binlog_group_commit_sync_no_delay_count = 10

# Multi-thread slave
binlog_max_flush_queue_time = 0

# Write binary log to disk in synchronization with commit
sync_binlog = 1


{% for db in mysql_databases %}
binlog_ignore_db = mysql
{% endfor %}
{% endif %}
{% if mysql_replication_role == 'slave' %}
#
# SLAVE
#
master_info_repository = TABLE
read_only
relay-log = relay-bin
relay-log-index = relay-bin.index

# Multi-thread slave
slave_parallel_workers = 8
slave_parallel_type = LOGICAL_CLOCK
# slave_preserve_commit_order = 1
log_slave_updates = 1
{% endif %}

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links = 0

# User is ignored when systemd is used (fedora >= 15).
user = mysql


# GTID
gtid-mode = on
enforce-gtid-consistency = on

# In cascade replication system, this configuration needs to switch master to slave
log-slave-updates


# http://dev.mysql.com/doc/refman/5.5/en/performance-schema.html
;performance_schema

# Memory settings.
key_buffer_size = {{ mysql_57.key_buffer_size }}
max_allowed_packet = {{ mysql_57.max_allowed_packet }}
table_open_cache = {{ mysql_57.table_open_cache }}
sort_buffer_size = {{ mysql_57.sort_buffer_size }}
read_buffer_size = {{ mysql_57.read_buffer_size }}
read_rnd_buffer_size = {{ mysql_57.read_rnd_buffer_size }}
myisam_sort_buffer_size = {{ mysql_57.myisam_sort_buffer_size }}
thread_cache_size = {{ mysql_57.thread_cache_size }}
query_cache_size = {{ mysql_57.query_cache_size }}
query_cache_limit = {{ mysql_57.query_cache_limit }}
max_connections = {{ mysql_57.max_connections }}
tmp_table_size = {{ mysql_57.tmp_table_size }}
max_heap_table_size = {{ mysql_57.max_heap_table_size }}

# Other settings.
wait_timeout = {{ mysql_57.wait_timeout }}
lower_case_table_names = {{ mysql_57.lower_case_table_names }}

# InnoDB settings.
innodb_large_prefix = {{ mysql_57.innodb_large_prefix }}
innodb_file_format = {{ mysql_57.innodb_file_format }}
innodb_file_per_table = {{ mysql_57.innodb_file_per_table }}
innodb_buffer_pool_size = {{ mysql_57.innodb_buffer_pool_size }}
innodb_log_file_size = {{ mysql_57.innodb_log_file_size }}
innodb_log_buffer_size = {{ mysql_57.innodb_log_buffer_size }}
innodb_flush_log_at_trx_commit = {{ mysql_57.innodb_flush_log_at_trx_commit }}
innodb_lock_wait_timeout = {{ mysql_57.innodb_lock_wait_timeout }}

[mysqldump]
quick
max_allowed_packet = {{ mysql_57.mysqldump_max_allowed_packet }}

[mysqld_safe]
pid-file = {{ mysql_57.pid_file }}

# Logging configuration.
syslog
syslog-tag = {{ mysql_57.syslog_tag }}
log-error = {{ mysql_57.log_error }}

