 ! Configuration File for keepalived
global_defs {
}

vrrp_instance MySQL {
    state BACKUP
    nopreempt
    interface {{ keepalived.shared_iface }}
    garp_master_delay 1
    virtual_router_id {{ keepalived.router_id }}
  {% if keepalived_role.lower() == "master" %}
    priority {{ keepalived_priority }}
  {% else %}
    priority {{ keepalived_backup_priority }}
  {% endif %}
    advert_int 1  # interval of hello packet

    authentication {
        auth_type PASS
        auth_pass {{ keepalived.auth_pass }}
    }

    virtual_ipaddress {
        {{ keepalived.shared_ip }} dev {{ keepalived.shared_iface }}
    }
    # notify {{ keepalived.script_path }}keepalived_notify.sh
}

# Health check for lolcahost
virtual_server 127.0.0.1 13306 {
    delay_loop 5
    lb_algo rr  # RoundRobin
    lb_kind DR
    protocol TCP

    real_server 127.0.0.1 3306 {
        weight 10
        MISC_CHECK {
           misc_path {{ keepalived.script_path }}keepalived_healthcheck.sh
           misc_timeout 10
        }
    }
    real_server {{ keepalived_neighbor }} 3306 {
        weight 10
        MISC_CHECK {
           misc_path {{ keepalived.script_path }}keepalived_neighborcheck.sh
           misc_timeout 10
        }
    }
}
