#!/bin/bash
INTERVAL=3

for TRIES in `seq 1 3`
do
  ssh root@{{ keepalived_neighbor }} service keepalived status
  RESULT=$?
  if [ $RESULT = 0 ]; then
    exit 0
  fi
  echo "neighbor check failed ${TRIES} times" | logger -i -t keepalived-neighborcheck
  sleep $INTERVAL
done

echo "neigbor down detected. shutdown neighbor's mysqld." | logger -i -t keepalived-neighborcheck
ssh root@{{ keepalived_neighbor }} service mysqld stop
exit 1
