#!/bin/bash
INTERVAL=3

echo "`hostname -s` became fault." | logger -i -t keepalived-vrrp

for TRIES in `seq 1 3`
do
  ssh root@{{ keepalived_neighbor }} service keepalived status
  NEIGHBOR_IS_ALIVE=$?

  if [ $NEIGHBOR_IS_ALIVE = 0 ]; then
    echo "Health Check is OK" | logger -i -t keepalived-vrrp
    exit 0
  fi
  echo "Neighbor's keepalived health check failed ${TRIES} times" | logger -i -t keepalived-vrrp
  sleep $INTERVAL
done

# master's NIC trouble occurred
echo "shutdown mysqld to switch replica." | logger -i -t keepalived-vrrp
service mysqld stop
service keepalived stop

exit 1
