 ! Configuration File for keepalived
global_defs {
}
vrrp_script chk_mysql_service {
        # script "service mysqld status"
        script "killall -0 mysqld"
        interval 1  # check every 1 seconds
        weight 2    # add 2 points of prio if OK
        fall 2      # "success" stat change to "fail" stat when NON-zero exit code returns N times 
        rise 2      # "fail" stat change to "fail" stat when zero exit code returns N times 
}

vrrp_instance MySQL {
    state BACKUP
    nopreempt
    interface {{ keepalived.shared_iface }}
    garp_master_delay 1
    virtual_router_id {{ keepalived.router_id }}
  {% if keepalived_role.lower() == "master" %}
    priority {{ keepalived_priority }}
  {% else %}
    priority {{ keepalived_backup_priority }}
  {% endif %}
    advert_int 1  # interval of hello packet

    authentication {
        auth_type PASS
        auth_pass {{ keepalived.auth_pass }}
    }

    virtual_ipaddress {
        {{ keepalived.shared_ip }} dev {{ keepalived.shared_iface }}
    }

    track_script {
        chk_mysql_service
    }

    notify {{ keepalived.script_path }}keepalived_notify.sh
}
