#!/bin/bash
INTERVAL=3

echo "`hostname -s` became master." | logger -i -t keepalived-vrrp

for TRIES in `seq 1 3`
do
  ssh root@{{ keepalived_neighbor }} service keepalived status
  NEIGHBOR_IS_ALIVE=$?
  ping -c 1 -w 1 {{ keepalived.gateway_ip }}
  NETWORK_IS_ALIVE=$?

  if [ $NEIGHBOR_IS_ALIVE = 0 ] || [ $NETWORK_IS_ALIVE = 0 ]; then
    exit 0
  fi
  echo "Gateway and neighbor check failed ${TRIES} times" | logger -i -t keepalived-vrrp
  sleep $INTERVAL
done

echo "Network down detected. There is a possiblility of split brain syndrome, therefore shutdown mysqld and keepalived." | logger -i -t keepalived-vrrp
service mysqld stop
service keepalived stop
echo "mysqld and keepalived shutdown done." | logger -i -t keepalived-vrrp
exit 1
