[server default]
user=root
password={{ db_account.password }}
# user={{ mysql_57.failover_user.name }}
# password={{ mysql_57.failover_user.password }}
ssh_user=root
manager_workdir={{ mha.workdir }}
remote_workdir={{ mha.workdir }}
manager_log={{ mha.workdir }}/masterha_manager.log
repl_user={{ mysql_57.replication_user.name }}
repl_password={{ mysql_57.replication_user.password }}
# master_ip_failover_script={{ mha_script_dir }}/master_ip_failover
# shutdown_script={{ mha_script_dir }}/power_manager


[server1]
hostname=10.10.10.1

[server2]
hostname=10.10.10.2

